[2020-05-08 18:41] sonatype-depshield[bot] opened #12 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/castorm/kafka-connect-http-plugin/JU9vTToTysCbYhB6tReb7g). Another build will be scheduled within 24 hours. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/castorm/kafka-connect-http-plugin/J

[2020-05-10 18:56] #12 closed

[2020-05-16 09:17] sonatype-depshield[bot] opened #15 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/castorm/kafka-connect-http/JIM2d4NdM9itlsojEwbX-Q). Another build will be scheduled within 24 hours. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/castorm/kafka-connect-http/JIM2d4NdM9itlso

[2020-05-16 09:17] #15 closed

[2020-05-24 19:54] rumline opened #19 "Each JSON response is packed into "payload.value" as an invalid JSON string"
**Describe the bug**
The JSON documents returned by the REST API call are recorded to the Kafka topic in a single field of "payload.value" with extra backslashes and double quote characters.  This behavior renders the string invalid JSON when passed to Elasticsearch and proper document field:value pairs are not created.

**To Reproduce**
I didn't track down the same exact record through the proces

[2020-05-25 07:35] castorm commented on #19
First of all, thank you @rumline for using the plugin, and I'm sorry it didn't work out out of the box for you.

You seem to be using the plugin just fine. However, Kafka Connect source plugins produce data with a schema, this schema is usually an [Avro](https://avro.apache.org/) schema that will be registered on the Schema Registry. You can find some additional information about how to manage thi

[2020-05-25 13:01] castorm opened #20 "Handle records in reverse chronological order"
## Problem
Some APIs don't offer control over the ordering of results.

This might be especially common on APIs that offer a snapshot of the N most recent records.

The source connector bases its offset advancement on chronologically ordered results, so latest committed offset would be that of the oldest record instead of the newest. Ignoring this would result in undesired consequences:
*   when o

[2020-05-25 13:03] castorm commented on #20
Unveiled as part of https://github.com/castorm/kafka-connect-http/issues/19 as a result of inspecting NY Times API

[2020-05-25 18:05] rumline commented on #19
Works perfectly now.  Switched to the new StringKvSourceRecordMapper and then I only had to add "value.converter": "StringConverter".  The key and schema are completely ignored by the Elasticsearch sink to allow Elasticsearch to do dynamic type mapping.

New connector config:

`{
  "name": "nytimesnewswire",
  "config": {
      "connector.class": "com.github.castorm.kafka.connect.http.HttpSourceCo

[2020-05-25 18:05] #19 closed

[2020-05-25 18:22] rumline commented on #19
Since I was testing it out, here are examples of the different topic entries with the different settings.  Perhaps useful for the examples section of the project.

[RecordMapperExamples.txt](https://github.com/castorm/kafka-connect-http/files/4678442/RecordMapperExamples.txt)

[2020-05-25 19:49] rumline commented on #20
Perhaps a 3-way behavior with two configuration settings?

connector.sorting.enabled as boolean.
connector.sorting.direction as forward or reverse.

Allow the end user to not take the performance hit if they know the source API will sort for them.

[2020-05-25 21:18] castorm commented on #19
That's great news :) Thanks for the examples, I understand your use case will be common, so I'll have to find a place to document this.

By the way, I saw you noticed https://github.com/castorm/kafka-connect-http/issues/20.

Although you are using the connector just fine, you might be interested to know that once that issue is resolved, it would be possible for you to use the NYTimes API the same

[2020-05-25 21:23] castorm commented on #20
I'm still thinking about it, I was considering the possibility of providing different ordering criteria, or whether to make this extensible, but to be honest, I think I might have been over-engineering in my head.

What you suggest makes perfect sense, I think I'll do something in those lines. If anything I would probably go for reducing it to a single property with a default value. As in directio

[2020-05-25 21:26] rumline commented on #20
If using just a single property, then make it take None so the connector does no work at all.  You are relying on a known, well written API.  You still get 3-way behavior that way.

[2020-05-25 21:43] castorm commented on #20
Yes, you are right, I misunderstood the purpose of the flag the first time I read it.

Actually I think it's a 4-way behavior:
*   Not sorted (server-sorted)
    *   As-is
    *   Reversed
*   Chronologically sorted
    *   Oldest first
    *   Newest first

[2020-05-25 21:50] castorm commented on #20
I think this categorization just made my mind, I think the cleanest would be for it to be two different properties in the end. Using SQL-like naming (default in parenthesis):
[code]
I guess it's a matter of picking the right naming now.

[2020-05-26 07:39] #20 closed

[2020-05-26 07:48] castorm commented on #20
This has been released as part of v0.7.4

Documentation can be found here:
https://github.com/castorm/kafka-connect-http#sorter

[2020-05-26 12:24] rumline opened #22 "Maven javadoc build failes when using JDK 11"
**Describe the bug**
Uninstall JDK 1.8.  Install JDK 11.0.7.  Perform a "maven package" or "maven install".  Javadoc build fails.

**Found fix**
Add:
`<configuration>
    <source>8</source>
</configuration>`

To the `<artifactId>maven-javadoc-plugin</artifactId>` section of the pom.xml file.

Project now builds successfully using JDK 11.

**Plugin:**
Version 0.7.4

[2020-05-26 17:36] castorm commented on #22
Thanks for reporting this @rumline .

This one is already fixed, but feel free to submit the PR yourself in the future if you take the time to fix it. Contributions are welcome.

Best regards.

[2020-05-26 17:39] #22 closed

[2020-05-27 16:52] rumline opened #24 "Repeated API calls upon data stream update exceeding API quota"
**Describe the bug**
Am now getting locked out of the NY Times API with a 429 response code and "Rate limit quota violation. Quota limit exceeded" error.

**To Reproduce**
Use the following source connector config
[nytimes_connector_quota_problem_config.txt](https://github.com/castorm/kafka-connect-http/files/4690250/nytimes_connector_quota_problem_config.txt)

**Expected behavior**
To not exceed

[2020-05-28 13:52] castorm commented on #24
Hi @rumline, thanks for reporting this.

I understand this still happened after you increased intervals to 5 minutes?

Thanks,
Best regards.

[2020-05-28 15:04] rumline commented on #24
Correct.  It's set to 300000 millis.

[2020-05-28 17:35] castorm commented on #24
You were hitting this issue because when the connector detects "it has fallen behind" in data consumption, it switches to a "catchup" throttler which is mean to query more often.

It turns out there was a typo in the configuration property for such scenario:
`http.throttle.catchup.interval.millis` instead of `http.throttler.catchup.interval.millis`, as documented.

I've fixed the name of the prope

[2020-05-28 17:40] #24 closed

[2020-05-28 17:40] rumline commented on #24
Thank you.  You might want to double check the main README.md file.  Some of the new config options you added in 0.7.4 didn't make it into the 0.7.5 version of the instructions.

[2020-06-02 14:20] matthew-grant opened #26 "Using a source topic to create the body request and receive the response"
Hello, I am looking to:

1. Use my "source" topic to feed a json payload into the body of the HTTP request.

2. Receive and store the response in an output topic. (input = request, output = response)

I believe the confluent http connector does this, but it is a paid plugin unfortunately.

I dont see a way on the document on how to use a topic.value as a body, any suggestions here??

Thank you,

M

[2020-06-02 14:55] castorm commented on #26
Hi Matthew, thanks for reporting this.

This project only provides a `SourceConnector` at the moment, what you are after would be a `SinkConnector`.

Such feature is in our roadmap, but I don't think we can make any promises regarding when or even if that will ever happen.

I think there are already some building blocks in this projects to help implementing such a `SinkConnector`, so it'd be much

[2020-06-08 17:03] joewood opened #27 "Confluent Hub Update"
**Describe the bug**
I notice that the version published on Confluent Hub is 0.6.1 and not the latest version

Could you publish the latest version of the plugin, using Confluence Hub to install connectors enables a simpler workflow for Docker Image generation.

Great connector BTW.

[2020-06-09 06:21] GDegrove opened #28 "Later release than 0.3.5 does not contains a connector"
Hello,

First of all thanks for the connector and the work on it, I noticed while testing it. That the latest releases (after 0.3.5) of the connector does not contains the jar but only the source code.

According to the README, this is where the latest version should be retrieved. Did you change the site where you upload the connector?
If yes where can we find it? If not, what is it needed to auto

[2020-06-09 06:34] castorm commented on #28
Hi @GDegrove, thanks for your kind words.

I'm afraid, there were some changes in the deploy configuration around that version, and as a result, the connector package is not attached to the releases. I'll fix that or remove it from documentation.

In the meantime, connector package is available on maven central:
Latest version as of today can be found here (either the `zip` or the `tar.gz` would w

[2020-06-09 06:37] castorm commented on #27
Hi @joewood, thank you for your kind words.

Sure, I'll submit the latest version to Confluent Hub, and I'll try and be more prompt to submit future versions, at least any new minors & majors.

Sorry for any inconvenience.
Thanks,
Best regards.

[2020-06-09 06:45] castorm commented on #27
Version [v0.7.6](https://github.com/castorm/kafka-connect-http/releases/tag/v0.7.6) has been submitted for approval, awaiting response.

[2020-06-09 07:24] GDegrove commented on #28
Thanks @castorm, appreciate the swift reply on this.

I will have a look, if you need help do not hesitate, I can take some time to help you to resolve it, maintaining a project all by yourself is never easy and if I can ease the work, it'll be my pleasure.

[2020-06-09 07:38] castorm commented on #28
Well, contributions are more than welcome.

This one in particular is related with the change from the travis build to github actions, I don't know what exactly would you need to give it a try, in terms of access and what not, as I understand just submitting a PR wouldn't be enough in this case.

Thanks,
Best regards.

[2020-06-09 19:13] joewood opened #29 "Why confluentControlCenterIntegration=false?"
**Is your feature request related to a problem? Please describe.**
I was wondering why you've set the Confluent Control Center Integration to false? The current released version seems to work OK. Was there a specific feature or licensing issue?

https://github.com/castorm/kafka-connect-http/blob/master/pom.xml#L319

[2020-06-10 07:16] castorm commented on #29
Hi @joewood, not really.

I have never used Confluent Control Center, so when I read in the documentation of that property:

I don't really know what that entails, so I cannot really assess whether the connector complies with the requirements of such integration or not.

I'm happy to turn that on if that's of any help.

Thanks,
Best regards.

[2020-06-11 06:53] GDegrove opened #30 "Does the connector support HTTPS connection"
Hey @castorm,

I was looking in the docs and I see entry regarding HTTPS support. I was wondering does the connector support TLS/SSL request?
If you never tested, I can do it on my side and update the documenation accordingly.

The reason of the question, we want to poll ES with your connector and we are wondering if this would be feasible with TLS/SSL support without updating the HTTP client.

Re

[2020-06-11 12:32] castorm commented on #30
Hi @GDegrove,

I did actually test it in the past against the JIRA API, and I had no issues.

Please, give it a try and let me know if something doesn't work for you.

Thanks,
Best regards.

[2020-06-13 06:14] castorm commented on #27
Hey @joewood,

Latest version has been finally published on ConfluentHub:
https://www.confluent.io/hub/castorm/kafka-connect-http

Thanks,
Best regards.

[2020-06-13 06:14] #27 closed

[2020-06-14 07:50] castorm opened #31 "Enable HttpSourceConnector partitioning"
### Use case
_As a_ user
_I want to_ perform several requests with a different set of parameters (partitions) against the same API from the same connector
_So that_ the number of running connectors doesn't grow linearly respect to the number of partitions

[2020-06-15 00:01] joewood commented on #27
Thanks @castorm, appreciate the speedy response.

[2020-07-07 15:43] tstuber opened #33 "JIRA example with propertie file"
**Describe the bug**
I tried to use the JIRA example with a standalone connect worker and a locally hosted JIRA. During the start-up, the templating seems to fails (`the following has evaluated to null or missing: ==> timestamp`)

[code]

**To Reproduce**
I used the provided [JIRA example (JSON)](https://github.com/castorm/kafka-connect-http/blob/master/examples/jira-issues-search.md) to derive th

[2020-07-17 10:46] castorm commented on #33
Hi tstuber,

Sorry for the late reply.

The template engine is complaining about the `timestamp` property being missing.

`timestamp` property is resolved for every item in the HTTP response via the json pointer: `/fields/updated`.

It would help to have a sample response from your JIRA API, would that be possible?

Thanks,
Best regards.

[2020-07-17 10:48] castorm commented on #29
Closing as there seems to be no action to be taken here.

[2020-07-17 10:48] #29 closed

[2020-07-17 10:49] castorm commented on #30
Closing as there seems to be no action to be taken here.

[2020-07-17 10:49] #30 closed

[2020-07-24 17:29] tstuber commented on #33
Hi @castorm

Thank for your answer.

Here is an example of the response I get when querying the jira api directly (`curl localhost:8080/rest/api/2/search`):

[code]

Actually I believe the the used pointer `http.response.record.timestamp.pointer=/fields/updated` should be correct...

Cheers
Thomas

[2020-08-12 11:02] aapramesh opened #41 "version values are not loaded"
**Describe the bug**
Error loading version.properties (com.github.castorm.kafka.connect.common.VersionUtils)

**To Reproduce**
Download the zip and copy to a folder use the folder path as plugins to Kafka connector. Start Connector after giving the necessary properties in the config files.

**Expected behavior**
Connection should be established to the Kafka topic mentioned in the properties file
!

[2020-08-12 12:44] aggarwalb opened #42 "Does this connector hit 2 API's at a time?"
Hi,
As per our architecture each of our API needs an access token to access the API data. This means that I have to first hit the security API which gives me access token and then the main API which gives me data back. Does this connector support this?

For eg:
1. Hit https://<abc>/security-api/api (This gives me back access token)
2. Hit the Resource API https://<abc>/customers (Have to pass acce

[2020-08-12 13:38] aapramesh commented on #41
It is resolved by giving 0.0.0.0 as default version in the connector properties file. Thanks a lot

[2020-08-12 13:38] #41 closed

[2020-08-13 06:14] castorm commented on #42
Hi @aggarwalb ,

Unfortunately, that usage pattern is not currently supported as of today.

I think it should be simple enough to implement though. feel free to take a look at the code and see if you could implement it yourself, I'll be happy to help any way I can.

Otherwise, it might not be implemented soon, as I'm a bit busy these days. Although I understand the value of this feature, so I thin

[2020-08-13 06:57] aggarwalb commented on #42
Hi @castorm ,
I am ready to contribute to this code if you are ok with this. Just one point if you can guide me how you want proceed with this further. This is very important feature as most the REST API world needs security access token to access the API's. If we are able to make this connector support this. then I will use this connector in our production solution else I have to write separate c

[2020-08-13 20:11] OneCricketeer commented on #42
The alternative to two calls per Kafka record (if not caching the API key) would be wrap the Kafka Connect API calls and embed the API key in the connector config

1. Hit https:///security-api/api (This gives me back access token)
2. POST to kafka-connect/connectors with `{"rest.api.key": "---key---", "rest.url": "https://customers"}`

[2020-08-14 03:58] aggarwalb commented on #42
@OneCricketeer When we hit the first API we will get record back in the kafka topic. What you are saying is reading the value from that topic and embed that value in connector config and then hit the second API with connector. Right?
If this is the case I would rather right one stream app in which I can wrap the two calls and process the message from source processor to sink processor.

[2020-08-14 03:59] OneCricketeer commented on #42
No. You'd get the key back in an HTTP client, which you then forward as part of the connector config

[2020-08-14 04:00] aggarwalb commented on #42
This means extending the existing code ?

[2020-08-14 04:02] OneCricketeer commented on #42
Assuming your url doesn't support full URI like `https://user:pass@api.com/`, then yes

[2020-08-14 04:07] aggarwalb commented on #42
That is what I have already communicated in the above comments to @castorm that I am ready to contribute to code base for this requirement (as he agreed that this is good to have feature). The only thing I want is how he want things to be

[2020-08-14 08:52] #31 closed

[2020-08-14 09:18] castorm commented on #42
I think this feature might be hiding a bit more complexity than anticipated.

Regarding the token you get back from your authentication API:
- For how long is it valid?
- Is it for a number of requests of a period of time?
- How is it renewed? just by using it, or do you need to refresh it over time?

Regarding the implementation details, as of now, there are 2 ways of sharing state with the HTTP

[2020-08-14 11:06] aggarwalb commented on #42
@castorm the case I am talking about needs to refresh token after a specified time interval. However, I agree with you that we have to think of all the authentication scenario's available for REST API's. I had seen some implementation being done in kafka http sink connector which we can include in this code base also. If you agree then we can plan implement authentication pattern's in it. By defau

[2020-08-21 18:15] roniepaolo opened #45 "Is it possible to deal with pagination?"
Hello,
I started to extract data from different APIs and I ran into an endpoint that use pagination in this way:

JSON response:
[code]

The endpoint allows to set the 'start' and the 'limit' in the GET request, but I can't set these elements as the offset in the connector conf because my list pointer is 'data'. Is there a way to deal with pagination like this? If not, I'll be grateful if there ar

[2020-08-25 07:40] castorm commented on #45
Hi @roniepaolo,

I'm afraid that's not possible as of today, and it's kind of intentionally like that to prevent the issues of deep pagination and to encourage capturing changes (which would be really hard with those arbitrary properties start/limit).

However, just to make sure we can't solve this any other way:
- Does the data you are after contain any sort of unique identifier?
- Does the data

[2020-08-31 06:41] castorm commented on #45
Thanks for your feedback @roniepaolo,

I'm trying to picture how this would look like for your specific scenario. The fact that you can sort by id/update time but not filter by them leaves one of two options:

**Sorting by update time descending**
- You would fetch the page 0
- You would fetch the following pages (1..N) until you reach a record already seen (N contains already seen record)
- You w

[2020-09-21 02:49] ryandanielspmc opened #57 "How to map the individual JSON fields to topic fields?"
I may be missing something in the documentation, and if so, my apologies, but when I get the data, and put it into the topic, has all of the JSON in a `VALUE` field. I would like to map the individual JSON fields to their own topic message fields. Is that possible with this connector?

[2020-09-21 07:26] castorm commented on #57
Hi @ryandanielspmc,

It is possible, however, that entails either knowing before-hand or inferring the schema from your JSON document and what's more challenging, that would require dealing with schema changes. Offering a general-purpose solution for that is not straightforward, and that's the reason it's currently not implemented as part of the connector.

But as I said, it's possible to implemen

[2020-09-21 16:57] ryandanielspmc commented on #57
I will give that a shot. Thank you.

[2020-09-21 23:33] ryandanielspmc commented on #57
I see that the example interface above is from `0.8.0-SNAPSHOT`. Is that going to be released soon?

[2020-10-14 15:48] castorm commented on #57
Hi @ryandanielspmc

That example is common for both the last released version and 0.8.0-SNAPSHOT.

In any case, the latter has been reverted due to an issue we found, so the last release v0.7.6 is pretty much same as master.

Best regards.

[2020-10-14 19:50] #57 closed

[2020-10-30 04:51] gonits commented on #33
Hi @castorm I am also getting the same error. timestamp not resolved when trying to hit jira api.

[2020-10-30 23:29] gonits commented on #33
It got resolved, after I override this method-> start() for setting offset properties (key and timestamp). Seems to be working now for CDC data.
the code i changed:
offset = Offset.of(!restoredOffset.isEmpty() ? restoredOffset : config.getInitialOffset(),"test",Instant.parse(config.getInitialOffset().get("timestamp")));

[2020-11-07 08:45] #45 closed

[2020-11-07 16:04] castorm commented on #42
Hi all,

As of 0.8.0 an `HttpAuthenticator` has been included to facilitate this extension. For now the options are authentication types are just `None` and `Basic`, but implementing new types should be fairly straightforward:

[code]

Authorization header is requested before executing the request, and after receiving a 401 response (so tokens could be refreshed at that point).

Oath2 or any other

[2020-11-12 18:56] castorm commented on #28
Closing this as it has been finally resolved. All future releases will have the artifacts attached.

[2020-11-12 18:56] #28 closed

[2020-11-26 02:19] mubeta06 opened #69 "Support for Microsoft's JSON date formats"
I am working with an Odata API interface which presents timestamp values such as lastModified in a format similar to `//Date(1530144000000+0530)/. Would it be possible to get such date formats supported. If this is something that could be supported I'd be happy to contribute this sort of functionality, a steer in the right direction would certainly be appreciated.

[2020-11-26 07:57] castorm commented on #69
Hi @mubeta06 ,

Sure, timestamp parsing is managed by implementations of this interface:
https://github.com/castorm/kafka-connect-http/blob/master/kafka-connect-http/src/main/java/com/github/castorm/kafka/connect/http/response/timestamp/spi/TimestampParser.java

You can see a couple of examples here:
https://github.com/castorm/kafka-connect-http/blob/master/kafka-connect-http/src/main/java/com/git

[2020-11-26 08:01] castorm commented on #69
I forgot, you can implement and use this without contributing it to the project, but contributions are welcome!

Best regards.

[2020-11-27 17:16] vishnu-chalil opened #71 "Importing project on both eclipse and intellij gives error"
I tried importing the project on both intellij and eclipse but lots of errors just pops up. No other projects gives these errors. What could be the reason. I have attached a snap below

![BugPNG](https://user-images.githubusercontent.com/23023241/100472467-4dce6680-3102-11eb-9975-bdbfad1ec8a1.PNG)

[2020-11-27 18:25] castorm commented on #71
Hi @vishnu-chalil,

I'm afraid that's [lombok](https://projectlombok.org/).

It requires a plugin both for [eclipse](https://projectlombok.org/setup/eclipse) and [intellij](https://projectlombok.org/setup/intellij)

I hope that helps.

Best regards.

[2020-11-28 04:58] vishnu-chalil commented on #71
That did help. Thanks :)

[2020-11-28 04:58] #71 closed

[2020-11-30 07:10] bob-tran-goldenowl opened #73 "DateTimeFormatter.parse error when try example. How to fix it"
![image](https://user-images.githubusercontent.com/72178350/100578897-c1948d00-3315-11eb-8baf-2b5879b3955b.png)

[2020-11-30 07:45] castorm commented on #73
Hi @bob-tran-goldenowl ,

Could you please share your configuration, omitting any confidential details?

Thanks,
Best regards.

[2020-11-30 08:19] bob-tran-goldenowl commented on #73
My config:
{
    "name": "my_index.elasticsearch.http",
    "config": {
        "connector.class": "com.github.castorm.kafka.connect.http.HttpSourceConnector",
        "tasks.max": "1",
        "http.offset.initial": "timestamp=1589500805994",
        "http.request.url": "http://ip:9200/index/_searchh",
        "http.request.method": "POST",
        "http.auth.type": "Basic",
        "http.auth.us

[2020-11-30 09:21] bob-tran-goldenowl commented on #73
I try a other api:
{
    "name": "weatherapi.http.source",
    "config": {
        "connector.class": "com.github.castorm.kafka.connect.http.HttpSourceConnector",
        "tasks.max": "1",
        "http.request.url": "http://api.met.no/weatherapi/locationforecast/2.0/compact",
        "http.request.headers": "Accept: application/json",
        "http.request.params": "lat=51.5&lon=0",
        "http

[2020-11-30 10:01] castorm commented on #73
Hi @bob-tran-goldenowl,

For the first issue, `http.offset.initial` expects timestamp to be in ISO8601 format, e.g. `2007-12-03T10:15:30.00Z`.

So instead of:
[code]
You'll need:
[code]

For the second issue, I'd need to know more details about the error you are getting.

I hope this helps.

Best regards.

[2020-11-30 10:29] #33 closed

[2020-11-30 10:56] vishnu-chalil opened #74 "Debugging in Intellij"
A quick question . How do I debug this in Intellij without exporting as jar everytime to libs folder of  Kafka.  Iam using apache kafka. I want to check the code flow in Intellij. Is there anyway to do this.

[2020-11-30 11:07] castorm commented on #74
Hi @vishnu-chalil,

99% of cases it's enough simulating what Kafka Connect does. For that I'd recommend you take a look at the following test:
https://github.com/castorm/kafka-connect-http/blob/master/kafka-connect-http-test/src/test/java/com/github/castorm/kafka/connect/http/HttpSourceConnectorIT.java

That test runs a WireMock server with some mocked responses, you can skip that part if you want

[2020-11-30 11:11] bob-tran-goldenowl commented on #73
@castorm I still have a question:
has no request by `http.offset.initial, http.offset.initial,http.response.record.offset.pointer` fields?Because i have setup a connect with config:
[code]
api not login but it error: Policy failed for response code: 403, body: 403 Forbidden
![image](https://user-images.githubusercontent.com/72178350/100603308-74c1ae00-3337-11eb-9637-4a5e01d5eb2e.png)

![image](htt

[2020-11-30 11:12] bob-tran-goldenowl commented on #73
I will test it. Thanks you very much

[2020-11-30 11:18] vishnu-chalil commented on #74
Yeah sure it helps but I wanted to know if there is a debugging mode or similar mechanism to check the code flow like checking the code flow in spring boot application.

[2020-11-30 11:23] castorm commented on #74
That's what I was trying to say, once you do as I said, you can then debug your test, adding any breakpoints you might like.

[2020-11-30 11:45] vishnu-chalil commented on #74
I understood it but didn't understand how to debug the flow the files inside the records package etc. from what point in execution are those files acessed, what are their functionalities etc. Do correct me if Iam asking the same question. But I couldnt yet understand how to debug through those.

[2020-11-30 13:09] vishnu-chalil commented on #74
Thanks Castrom. What you said is making sense once I started working on it. Saved my day :)

[2020-11-30 13:09] #74 closed

[2020-11-30 13:22] castorm commented on #73
Regarding the 403 issue, apparently that API doesn't like the default User-Agent, you'll have to override it, I checked with httpie on console and it worked, so I used the same one in the connector to solve it:
[code]

I hope this helps.

[2020-12-02 18:00] mnaseef-gloo commented on #73
I was also confused since the example in https://castorm.github.io/kafka-connect-http/examples/elasticsearch-search.html uses an epoch millisecond representation. I'd like to request that the example be updated, and the requirement documented in the documentation for http.offset.initial. Are the keys that property can take pre-defined? From the documentation I got the impression they were arbitrar

[2020-12-02 21:26] mnaseef-gloo commented on #73
Since the http.offset.initial must be an ISO-formatted date, how can I get the timestamp in epoch format to match my rest API in the query parameters.

Here's my (redacted) config - again borrowed from the elastic search example:
[code]

Here's what the connector is doing:
[code]

Here's what I need it to do:
[code]

[2020-12-02 22:05] castorm commented on #73
Hi @mnaseef-gloo,

You are completely right, example is outdated, there's been a few changes around timestamp, and I'm afraid I might have missed some in the docs. I'll update it as soon as I have some time.

Regarding what you are trying to achieve, the connector is using underneath FreeMarker templates, I haven't tested this specifically, but something like this should do the trick:
[code]

I ho

[2020-12-03 16:40] mnaseef-gloo commented on #73
Thanks for the quick response and suggestion. I haven't gotten it to work just yet, but you have pointed me in what I think is the right direction.

almost there...
[code]

[2020-12-03 19:25] mnaseef-gloo commented on #73
I got it to work with this - rather convoluted. I hope you can come up with a simpler solution.
[code]

[2020-12-06 10:49] castorm commented on #73
Apparently it can be done a bit simpler than that:
[code]

The last `c` means "computer" representation of numbers ([docs](https://freemarker.apache.org/docs/ref_builtins_number.html#ref_builtin_c)), which can be made default, and then it wouldn't be needed.

And this is essentially the direction I decided to take for now. Documentation has been also updated accordingly.

The PR with this changes

[2020-12-06 10:59] #73 closed

[2020-12-08 22:07] mnaseef-gloo commented on #73
Looks great. Thanks!

[2020-12-27 08:56] atomotic opened #83 "Authorization header"
When setting an Authorization header:
[code]

i got this error:
[code]

I tried also enclosing the value in `"` or `'`.
The http service i'm scraping allows to pass the authorization token also as http argument, and it's working this way.
Thanks!

[2020-12-27 09:28] castorm commented on #83
Hi @atomotic,

I'm afraid it's not due to quotes, but the header name-value pair separator, which in this case should be `:` instead of `=`.

Please, let me know if there is something we can improve int the docs or the examples.

I hope this helps.

Best regards.

[2020-12-27 09:47] atomotic commented on #83
ah, got it! yes, `:` works.
maybe i can send you the example i'm working with, is for capturing changes from an https://airtable.com spreadsheet.
thanks.

[2020-12-27 09:47] #83 closed

[2020-12-27 15:20] sonatype-depshield[bot] opened #84 "[DepShield] (CVSS 5.5) Vulnerability due to usage of junit:junit:4.12"
**Vulnerabilities**

DepShield reports that this application's usage of [junit:junit:4.12](https://ossindex.sonatype.org/component/pkg:maven/junit/junit@4.12) results in the following vulnerability(s):

- (CVSS **5.5**) [[CVE-2020-15250] In JUnit4 from version 4.7 and before 4.13.1, the test rule TemporaryFolder cont...](https://ossindex.sonatype.org/vuln/7ea56ad4-8a8b-4e51-8ed9-5aad83d8efb1)

<hr

[2020-12-27 15:36] castorm commented on #84
Resolved.

[2020-12-27 15:36] #84 closed

[2021-01-04 09:15] AkshatJindal1 opened #88 "Support for paginated response from API"
**Is your feature request related to a problem? Please describe.**
Recently I have been working on a project that requires the  HTTP source connector. But the API returns only a set number of response as an array and provide a URL at the end to access the next set of responses. So if we can have a way to support calling the next page URL till we don't have any new record, it will solve the problem

[2021-01-04 09:19] castorm commented on #88
Hi @AkshatJindal1,

Thanks for submitting your request.

Do you intend to work on it yourself? If so, do you need any sort of direction? Is there any way I can help? It would probably be beneficial to both to discuss a possible solution for it before jumping to implementation.

Best regards.

[2021-01-04 10:37] AkshatJindal1 commented on #88
Hi @castorm it will be better if we can discuss ways to implement it. For my use case, the response that I am getting is as follows:
{
    "d": {
        "results": [
            { "response data ......." }
         ],
        "__next": "complete next page url"
     }
}

And for another set of URL, the response is:
{
    "d": {
        "results": [
            { "response data ......." }

[2021-01-04 15:38] castorm commented on #88
Hi @AkshatJindal1,

I've been meaning for a while to refactor an area that might help with this, and I just took the opportunity to do it.

The way I see this fitting into the existing design is by extending the record's offset with some sort of per-page offset.

As you know, offset is what the connector uses to track progress (allowing for instance to continue where it left after a failure or a r

[2021-01-05 03:57] AkshatJindal1 commented on #88
I believe that this would solve our issue if the per-page offset was fixed for a set of records. But what I have noticed is that it contains start pointer and skip records as the query parameters (either directly or in encoded form).

Eg: https://server/rest.api?$format=JSON&$**skiptoken=eyJzdGFydFJvdyI6MTAwMCwiZW5kUm93IjoyMDAwfQ==**

Here the query parameter skiptoken is base64 encoded which tran

[2021-01-05 08:39] castorm commented on #88
Hi @AkshatJindal1,

I'm afraid this type of pagination is not really aligned with the spirit of this connector. It puts a big burden in the data system supporting it, as it would cause performance issues the deeper you paginate. Because of this, I wouldn't like to encourage its use, especially in a connector that is specifically designed to run infinitely, hence making deep pagination issues a mat

[2021-01-05 12:00] AkshatJindal1 commented on #88
For this particular case, I wanted to handle it in the following way:
1. We take the timestamp pointer as well as the next page pointer from the user.
2. Once we reach the end, we update our query parameter with the timestamp for the latest record and remove the query parameter for the next page URL.
3. From now on it will make the API call by only fetching the records from after the latest timest

[2021-01-06 16:55] atomotic commented on #57
maybe this Connect SMT is the answer for this problem: https://github.com/RedHatInsights/expandjsonsmt

seen today from this tweet: https://twitter.com/gunnarmorling/status/1346761627543154688

[2021-01-06 17:21] castorm commented on #57
Thanks @atomotic for sharing this, I just added a reference in the README.md file.

[2021-01-21 09:37] igrishaev opened #94 "Setting up the http.request.body field"
Hello!

First, thank you for the library, that's really great to have a free version of HTTP connector (compared to the one from Confluent which is paid). My first question is, how can I put the message's payload into the body of the request. I'm expecting to have something like:

[code]

or similar (assuming that the messages from a topic are in JSON). But this doesn't work.

The more general que

[2021-01-21 09:46] igrishaev commented on #94
Sorry, it looks like misunderstood something. I thought that the library provides an HTTP Sink functionality so I could redirect JSON messages out from the topic to an HTTP endpoint. But judging by the #26 it's not possible at the moment, so my question is obsolete I guess.

[2021-01-25 07:35] castorm commented on #94
Hello @igrishaev ,

You are right, this connector only implements an HTTP Source, not Sink.

Maybe at some point in the future it will, but for now I'm afraid it doesn't. :(

Best regards.

[2021-01-25 07:35] #94 closed

[2021-01-31 20:52] mattj65817 opened #97 "Unable to add kafka-connect-http as a Gradle dependency"
I am unable to add `kafka-connect-http` as a Gradle dependency as follows:

[code]
The problem appears to be that `kafka-connect-http-0.8.9.pom` refers to its parent project using a relative path (`../pom.xml`) which is not available in the Maven Central repository:
[code]
The solution is (probably?) to publish the parent POM along with the rest of the artifacts, assuming there's nothing "secret"

[2021-02-07 17:24] mattj65817 opened #101 "Header values cannot contain commas"
It would appear to be impossible to use `http.request.headers` to build a header which contains a comma in its value, since `TemplateHttpRequestFactory` uses `ConfigUtils.breakDownHeaders()` to parse comma-separated headers without any provision for allowing commas to be escaped. It ultimately uses `String.split(",")` to do this.

This presents a problem, for example, if one wants to include an `I

[2021-02-07 17:27] mattj65817 commented on #101
...I somewhat underestimated the amount of work necessary. You'd have to change the `itemSplitter` regex and you'd *also* have to add a post-split phase to pull the escape characters out of the header values that contained them. Probably not a huge deal, but increases risk somewhat.

[2021-02-07 18:07] castorm commented on #101
Hi Matt,

Thank you for reporting this.

It's not easy picking the right separator, so this was kind of bound to happen... The escape character sounds like a good option to keep backwards compatibility, I guess it just introduces some additional complexity.

Happy to accept a PR if you already have a proposal, otherwise I'll give it a try whenever I get a few minutes.

Best regards.

[2021-02-07 18:11] castorm commented on #97
Hi Matt,

Thank you for reporting this.

At some point I introduced maven multi-modules in this project, but only the main artifact is accepted as of today in maven central, and I didn't realize.

I would need to check with sonatype whether they will accept an artifact that is not named the same as the github repo, so the parent pom can be published.

The alternative is kind of unclear to me, beca

[2021-02-07 18:15] castorm commented on #97
In the meantime you might want to add github packages repository, all artifacts are published there, so you wouldn't have that issue.

https://docs.github.com/en/packages/guides/configuring-apache-maven-for-use-with-github-packages#authenticating-to-github-packages

[2021-02-07 18:46] mattj65817 commented on #101
@castorm Sure, I'll take a shot at it and hopefully send a PR later in the day.

[2021-02-07 21:32] #101 closed

[2021-02-08 14:57] mattj65817 commented on #97
@castorm thanks, I'll look into that. I'm so far removed from Maven at this point (been working in Gradle for *years*) that I know nothing about parent POM, Maven best practices, etc. :(

[2021-03-03 14:36] sonatype-depshield[bot] opened #106 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/castorm/kafka-connect-http/gi60uy1Nh3YqmKGSQdDR6g). Another build will be scheduled when a change to a manifest file<sup>*</sup> occurs. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/castor

[2021-03-26 07:33] #106 closed

[2021-03-27 11:05] QuidneIT commented on #19
Castor,
Thank you for the communication with me over email. Sorry that I did not spot this thread earlier as it would have prevented my emails.

I am now using the StringKvSourceRecordMapper and value converter StringConverter and works, and I get just the data back.

Maybe as a future enhancement might be the ability to add a custom schema like they enable you to do with the https://docs.confluen

[2021-04-15 22:38] ShawnUCD commented on #42
Hello @castorm, Are there any good examples of a working preauth config?  I think the documentation is good when paired with the examples, but none seem to exist for the http.auth stuff yet.  I'm new at this and trying to configure preauth.

[2021-04-16 07:20] castorm commented on #42
Hi @ShawnUCD,

I'm afraid the reason there are no examples is because it's not just a matter of configuration. You have to implement your own authentication mechanism based on the extension point provided here (the interface shared in my last comment `HttpAuthenticator`).

The only authentication mechanism provided out-of-the-box is Basic auth, which, as [documented](https://github.com/castorm/kaf

[2021-04-16 15:05] ShawnUCD commented on #42
Yes, thank you for getting back to me.  I'm trying to do a two-step auth where a bearer token is obtained (and renewed if expired) after POSTing user/pass (pub/priv API keys in this case) to an endpoint.  If this kind of auth is not supported without more code (something that would take me a very long time) then I think I have my answer. Thank you for being so accessible, it's really nice to get s

[2021-05-14 17:28] novucs opened #126 "HTTP Streams"
**Is your feature request related to a problem? Please describe.**
I haven't seen an option on this connector for infinitely streaming data. An example could be found here on the Twitter API, that sends a gzipped stream of tweets: https://developer.twitter.com/en/docs/twitter-api/enterprise/powertrack-api/api-reference/powertrack-stream#Stream

**Describe the solution you'd like**
Perhaps a boolea

[2021-05-19 13:31] zanid-haytam-ibm2 opened #127 "Offset isn't committed directly"
**Describe the bug**
For some reason, offsets aren't committed immediately, which lets the connector use the initial timestamp forever. Upon further logs, I found that the method `commit` (which is overridden) is never called.

My logs show that the timestamp is successfully extracted from the data, but it is never replaced, so the initial timestamp is always used.
[code]

**Expected behavior**
Of

[2021-05-19 13:31] zanid-haytam-ibm2 commented on #127
The method `commitRecord` is called btw.

[2021-05-20 11:09] zanid-haytam-ibm2 commented on #127
Setting `"http.timer.interval.millis": "30000"`fixes it. I guess Kafka waits a bit to commit offsets, and since I had no interval it was just spamming the http request without having time to commit the new offsets.

[2021-05-20 11:09] #127 closed

[2021-06-16 12:27] dingobar commented on #22
Unfortunately I am still facing this issue on JDK 11.0.11, which is the current default in Ubuntu 20.04. Using `<configuration> <source>11</source> </configuration>` fixed it, but I guess that breaks it for Java 8 users. Would it be possible to just take the major JDK version instead of the complete version? Not familiar with the syntax used so unfortunately I cannot create a PR just off the bat h

[2021-06-16 12:30] dingobar opened #133 "Maven package build fails on JDK 11.0.11"
**Describe the bug**
It's the same bug as https://github.com/castorm/kafka-connect-http/issues/22, only a newer version.

See that issue for further details.

**Additional context**
JDK version 11.0.11 (current Ubuntu 20.04LTS default)

Quickfix:
Changing ${java.version} to 11 resolves the issue. Perhaps it would be possible to just take the major version of java instead of the entire version with

[2021-06-16 18:13] castorm commented on #133
Hi @dingobar,

Thank you very much for reporting this.

I believe this should be fixed by now via #134

It seems java.version wasn't defined as a maven property anywhere.

I hope that's enough.

Thanks,
Best regards.

[2021-06-18 14:40] dingobar commented on #133
Confirmed! Thank you for the quick response, I'll close the issue 👍

[2021-06-18 14:40] #133 closed

[2021-06-18 14:46] dingobar commented on #42
May extend on our fork to cover getting a token from an auth endpoint now, but not sure how generalizable it is. The flow would be
- POST request to configured endpoint, ie. `/auth`, with payload like `{"uid": "foo", "pwd": "bar"}`
- retrieve token from response at configured path, ie. `access_token` if the response was `{"access_token": "abcd1234567"}`

Willing to contribute a feature for the mai

[2021-06-28 11:46] dingobar commented on #42
I've given this a shot at https://github.com/castorm/kafka-connect-http/pull/142

[2021-07-25 12:22] abhinav054 opened #149 "Parse response of the following format {"items":{"k1": {"k1":"v1"} ,"k2":{"k2":"v2"}}}"
Parse response of type {"items":{"k1": {"k1":"v1"} ,"k2":{"k2":"v2"}}} into records {"k1":"v1"}, {"k2","v2"}

Write a new JacksonKvMapRecordHttpResponseParser.

[2021-08-05 18:26] devarismeroxa commented on #126
This would be great. 👍🏾

[2021-08-06 08:25] abhishekd-sb opened #152 "URL encoding of query parameters"
**Is your feature request related to a problem? Please describe.**
I need to implement CDC, but the data field I need to pass into the query params is not URL encoded, and so I get a 400 error from the server.

**Describe the solution you'd like**
URL encode the query parameters within the connector.

**Describe alternatives you've considered**
None I could think of.

[2021-08-06 09:24] abhishekd-sb commented on #152
It was an issue with the date field. Resolved by using the freemarker templates. Closing as resolved. Here's what I did -

[code]

[2021-08-06 09:24] #152 closed

[2021-09-27 18:07] rahulkr122 opened #167 "Http source or sink not taking HTTP PROXY define in system level in REDHAT 8"
**Is your feature request related to a problem? Please describe.**
IN staging with open internet this configuration is working but in pre-prod with limited internet with http_proxy IP/Port defined
its not taking it. due to this its not able to connect to the right destination/source.
Note: With cURL command i'm able to get he expected response but with http source/sink connector getting below erro

[2021-09-29 20:15] davidwmartines2 opened #168 "Handling multi-line JSON response"
Is there a way to handle a response that contains multiple JSON objects, one per line?  This would not be a valid JSON document, and is not an array.
Example:
[code]

It appears the default behavior is that only the first JSON object is parsed into a record.

Thanks for any ideas.

[2021-09-29 20:24] davidwmartines2 commented on #168
Going to ask this in the Discussions area!

[2021-09-29 20:24] #168 closed

[2021-09-30 14:48] lobbin opened #172 "Make timestamp parser able to use optional property?"
In our datasource, we have two timestamps, "createdAt" and "updatedAt". Problem is that "updatedAt" is not available on new objects. They only get that property once they have been save at least once after their creation.

So, using the following offset pointer will break on new objects, but work fine otherwise.
`"http.response.record.offset.pointer": "key=/id, timestamp=/updatedAt"`

Would it be

[2021-10-15 12:38] lobbin commented on #172
Managed to successfully override this. It's a bit awkward, as I have to copy the full structure of the JacksonKvRecordHttpResponseParser class just to be able to override the JacksonResponseRecordParser::toJacksonRecord :)

[code]

[2021-10-15 12:38] #172 closed

[2021-10-18 07:07] lobbin commented on #97
Tried to get this working, but I think it fails on that kafka-connect-http 0.8.11 depends on kafka-connect-http-parent 0.8.11 where as only kafka-connect-http-parent 0.8.1 seems to be published.

[2021-10-19 06:32] lobbin commented on #42
Just to post an update on this as well. The PR #142 works well in it's current form and I've added a patch to cache the token for a fixed time interval.

[2021-10-24 09:03] sonatype-depshield opened #179 "[DepShield] (CVSS 7.5) Vulnerability due to usage of org.apache.commons:commons-compress:1.20"
**Vulnerabilities**

DepShield reports that this application's usage of [org.apache.commons:commons-compress:1.20](https://ossindex.sonatype.org/component/pkg:maven/org.apache.commons/commons-compress@1.20) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2021-35517] When reading a specially crafted TAR archive, Compress can be made to allocate l...](https://ossindex.sonatype.org

[2021-10-29 09:36] lzuchowska opened #186 "How to transform with REST API"
Hello,
I've been struggling with applying the ExtractField transform into a simple REST API response.
This is the REST API response:
[code]
With the configuration file containing this property:
`
"key.converter": "org.apache.kafka.connect.storage.StringConverter",
`
When I try to extract a field, I get an error: Unknown field: fieldname or Expected Struct, found String.
How should I work with tran

[2022-02-17 07:24] izhangzhihao opened #213 "Does the connector support SSL certification verification"
I was looking in the docs and I see an entry regarding HTTPS support. I was wondering does the connector support HTTPS/SSL/TLS certification verification?

[2022-03-14 04:28] saurabhrawat opened #220 "java.lang.NoClassDefFoundError: freemarker/template/Configuration"
I am getting following error while starting my source connector:

        http.request.body =
        http.request.headers = Accept:application/json
        http.request.method = GET
        http.request.params =
        http.request.template.factory = class com.github.castorm.kafka.connect.http.request.template.freemarker.BackwardsCompatibleFreeMarkerTemplateFactory
        http.request.url = htt

[2022-05-15 12:38] #213 closed

[2022-05-19 20:56] wushujames opened #232 "Broken link: The "See examples" link on https://castorm.github.io/kafka-connect-http/ is broken"
**Describe the bug**
On https://castorm.github.io/kafka-connect-http, the example section says
[code]
Clicking on https://castorm.github.io/kafka-connect-http/examples brings me to a 404.

**To Reproduce**
On https://castorm.github.io/kafka-connect-http, click on the word "examples".

**Expected behavior**
I expected that it would bring me to a top-level examples page.

**Screenshots**
<img width=

[2022-10-03 08:45] AskMeiPaaS opened #241 "Connector vulnerabilities"
The following vulnerabilities are identified with the connector.

CVE-2020-36518
CVE-2020-29582
CVE-2022-24329

Could you please verify it for false positive?